@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900");
* {
  box-sizing: border-box; }

body {
  position: relative;
  font-family: 'Nunito Sans', sans-serif; }

html, body {
  height: 100%;
  background-color: #252222;
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1400px;
  margin: 0 auto; }

header {
  position: relative;
  z-index: 9999; }

nav {
  transition: all .2s ease-out; }

.nav_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: all .2s ease-out; }
  .nav_wrapper #brand, .nav_wrapper #search_toggle {
    display: inline-block;
    margin: .5rem 1rem; }
  .nav_wrapper #brand {
    padding: .5rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    transition: all .15s ease; }
  .nav_wrapper #search_toggle {
    position: relative;
    cursor: pointer;
    height: 32px;
    width: 32px;
    line-height: 0;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
    .nav_wrapper #search_toggle svg {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transition: all .15s ease; }
  .nav_wrapper #search_toggle:hover svg {
    padding: .175rem; }

#search {
  display: none;
  position: relative;
  width: 100%;
  background-color: #e85354; }
  #search input {
    font-family: 'Nunito Sans', sans-serif; }
  #search .searchbar_input {
    display: block;
    width: 100%;
    padding: 1.5rem;
    background: transparent;
    outline: 0;
    border: 0;
    color: #ffefb9;
    font-weight: 300;
    font-size: 2em; }
  #search [placeholder]::-webkit-input-placeholder {
    color: #ffefb9;
    opacity: 0.8; }
  #search [placeholder]:-moz-placeholder {
    color: #ffefb9;
    opacity: 0.8; }
  #search [placeholder]::-moz-placeholder {
    color: #ffefb9;
    opacity: 0.8; }
  #search [placeholder]:-ms-input-placeholder {
    color: #ffefb9;
    opacity: 0.8; }

.autocomplete_suggestions {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 3;
  overflow-y: auto; }
  .autocomplete_suggestions ul, .autocomplete_suggestions li {
    list-style-type: none;
    padding: 0; }
  .autocomplete_suggestions ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: .5rem;
    flex: 2; }
  .autocomplete_suggestions li {
    width: 100%;
    padding: 1rem 1rem;
    border-radius: .25rem;
    margin: .5rem 0;
    cursor: pointer; }
    .autocomplete_suggestions li .release_year {
      margin-left: 4px; }
    .autocomplete_suggestions li.highlight {
      background-color: rgba(0, 0, 0, 0.15); }
  .autocomplete_suggestions .highlight_card {
    position: relative;
    display: flex;
    margin: 1rem;
    width: 220px;
    height: 330px;
    justify-content: center;
    border-radius: .25rem;
    overflow: hidden; }
    .autocomplete_suggestions .highlight_card img {
      background-color: rgba(0, 0, 0, 0.1);
      height: 100%;
      width: 100%;
      display: none; }
      .autocomplete_suggestions .highlight_card img.visible {
        display: block; }

.dark_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(37, 34, 34, 0.9);
  z-index: 3; }

.content_container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%; }

#content {
  position: relative;
  display: flex;
  flex-grow: 1;
  color: #fff;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }

.bg_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  /*
  &:not(.previous) .bg_vignette {
    background-color: rgba(0,0,0,.5);
    z-index: 2;
  }
  */ }
  .bg_container .bg_small, .bg_container .bg_large, .bg_container .bg_vignette {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .bg_container .bg_small {
    -webkit-filter: blur(8px) grayscale(20%) brightness(110%) contrast(120%);
    filter: blur(8px) grayscale(20%) brightness(110%) contrast(120%);
    transform: scale(1.02);
    z-index: 1; }
  .bg_container .bg_large {
    z-index: 0; }
  .bg_container .bg_vignette {
    opacity: .7;
    background: -moz-radial-gradient(bottom center, ellipse cover, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.95) 100%);
    background: -webkit-radial-gradient(bottom center, ellipse cover, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.95) 100%);
    background: radial-gradient(ellipse at bottom center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.95) 100%);
    z-index: 2; }
  .bg_container.previous {
    z-index: 1; }

.show_info {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 1.5rem; }
  .show_info h1.show_title {
    position: relative;
    font-size: 3em;
    font-weight: 600;
    padding: .5rem 0;
    border-bottom: 1px solid #595656; }
    .show_info h1.show_title::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      content: '';
      width: 40%;
      height: 4px;
      background-color: #e85354; }
  .show_info h2.episode_details {
    font-size: 1.125em;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .5px; }
  .show_info p.release_date {
    font-size: 4em;
    font-weight: 400;
    margin: 0; }
  .show_info p.release_nodate {
    font-size: 1.3125em;
    font-weight: 400;
    margin: 0; }
  .show_info .emailreminder_container {
    display: none;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    color: #252222;
    border-radius: 2px;
    background-color: #e85354; }
    .show_info .emailreminder_container .submit_container {
      padding: 1rem;
      margin: 0;
      background-color: #e85354; }
    .show_info .emailreminder_container h2 {
      color: #fff;
      padding: 1rem;
      margin: 0;
      font-size: 1.125em;
      font-weight: 400; }
    .show_info .emailreminder_container input {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.125rem;
      border: 0;
      outline: 0;
      padding: .5rem;
      border-radius: 2px; }

footer {
  position: relative;
  display: block;
  width: calc(100%-3rem);
  margin: 0 1.5rem 1.5rem;
  z-index: 2; }
  footer .container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e85354; }
  footer p {
    color: #fff;
    font-weight: 300;
    font-size: .875rem;
    margin: .25rem 0; }
  footer .left_section, footer .right_section {
    margin: 1rem 1rem 0 1rem; }
  footer .contact_email {
    text-decoration: underline; }
  footer .copyright {
    opacity: .5; }

/*# sourceMappingURL=stylesheet.css.map */
