@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900');

$red: #e85354;
$yellow: #ffefb9;
$gray: #595656;
$darkgray: #252222;
$white: #fff;

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
}

html, body {
  height: 100%;
  background-color: $darkgray;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}


// HEADER //

header {
  position: relative;
  z-index: 9999;
}

nav {
  transition: all .2s ease-out;
}

.nav_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  // padding: 1rem;
  // background-color: $red;
  transition: all .2s ease-out;

  #brand, #search_toggle {
    display: inline-block;
    margin: .5rem 1rem;
  }

  #brand {
    padding: .5rem;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    transition: all .15s ease;
  }

  #search_toggle { // FIX ALIGNMENT
    position: relative;
    cursor: pointer;
    height: 32px;
    width: 32px;
    line-height: 0;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    svg {
      position: absolute;
      margin: auto;
      top: 0; left: 0; bottom: 0; right: 0;
      transition: all .15s ease;
    }
  }

  #search_toggle:hover {
    svg {
      padding: .175rem;
    }
  }
}

#search {
  display: none;
  // margin-top: 1rem;
  position: relative;
  width: 100%;
  background-color: $red;

  input {
    font-family: 'Nunito Sans', sans-serif;
  }

  .searchbar_input {
    display: block;
    width: 100%;
    padding: 1.5rem;
    background: transparent;
    // background: rgba(0,0,0,.125);
    // border-radius: .25rem;
    outline: 0;
    border: 0;
    color: $yellow;
    font-weight: 300;
    font-size: 2em;
  }

  @mixin placeholder($color, $opacity) {
    &::-webkit-input-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &:-moz-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &::-moz-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &:-ms-input-placeholder {
      color: $color;
      opacity: $opacity;
    }
  }

  [placeholder] {
    @include placeholder($yellow, .8);
  }
}

.autocomplete_suggestions {
  display: none;
  position: absolute;
  // top: 0;
  left: 0;
  // display: flex;
  width: 100%;
  height: 100%;
  color: $white;
  // background-color: rgba(37,34,34,0.9);
  z-index: 2;
  overflow-y: auto;

  ul, li {
    list-style-type: none;
    padding: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: .5rem;
    flex: 2;
  }

  li {
    width: 100%;
    padding: 1rem 1rem;
    // background-color: rgba(0,0,0,.1);
    border-radius: .25rem;
    margin: .5rem 0;
    cursor: pointer;

    .release_year {
      margin-left: 4px;
      // TODO LIGHTEN COLOR
    }

    &.highlight {
      background-color: rgba(0,0,0,.15);
    }
  }

  .highlight_card {
    position: relative;
    display: flex;
    margin: 1rem;
    width: 220px;
    height: 330px;
    justify-content: center;
    border-radius: .25rem;
    overflow: hidden;

    img {
      background-color: rgba(0,0,0,.1);
      height: 100%;
      width: 100%;
      display: none;
      // filter: blur(8px);

      &.visible {
        display: block;
      }
    }
  }
}


// CONTENT //

.dark_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(37,34,34,0.9);
  z-index: 1;
}

.content_container {
  // position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

#content {
  position: relative; // remove?
  display: flex;
  flex-grow: 1;
  // height: 100%;
  color: #fff;
}

.bg_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;

  .bg_small, .bg_large {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1.05);
  }

  .bg_small {
    filter: blur(20px);
    z-index: 0;
  }

  .bg_large {
    z-index: 1;
  }

}



// FOOTER //

footer {
  position: relative;
  display: block;
  width: calc(100%-3rem);
  margin: 0 1.5rem 1.5rem;
  z-index: 3;

  .container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $red;
  }

  p {
    color: $white;
    font-weight: 300;
    font-size: .875rem;
    margin: .25rem 0;
  }

  .left_section, .right_section {
    margin: 1rem 1rem 0 1rem;
  }

  .contact_email {
    text-decoration: underline;
  }

  .copyright {
    opacity: .5;
  }
}
